 
  
  .image-text {
    padding: 10px;
  }
  .row {
    display: flex!important;
    flex-wrap: wrap!important;
    justify-content: center;
    margin: 10px;
  }
  
  .column {
    flex-basis: 25%;
    padding: 5px;
    box-sizing: border-box;
  }
  .image-container {
    position: relative;
  }
  .low {
      filter:brightness(50%)
  }
   
  
  .image-text {
    position: absolute;
    top: 40%;
    left: 40%;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  .flip-container {
    width: 100%;
    height: auto;
  }
  